:root {
  --fullW: 100%;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body, html, #root {
  height: var(--fullW);
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #3b3b3b; */
  /* border: 3px solid black; */
}

.header-section, .main-section, .footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20%;
}

:where(.header-section, .footer-section) {
  height: 20%;
  /* border: 2px solid red; */
}

.main-section {
  height: 60%;
}
